<mat-toolbar style="background-color: aqua;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" style="margin-right: 40px;" mat-icon-button class="example-icon favorite-icon" aria-label="Iniciar sesión">
        Iniciar sesión
    </a>
    <a [routerLink]="'/signup'" style="margin-left: 90px;" mat-icon-button  class="example-icon favorite-icon mr20" aria-label="Registrarse">
        Registrarse
    </a><p style="visibility: hidden;">Arreglando</p>
</mat-toolbar>
